.addnewmember-form {
  width:300px;
  position:center;
  /*display:block;*/
  align-content:center;
  vertical-align:central;
  align-items:center;
 /*background-image: url('../Images/popupBG.jpg');*/
}

.fieldStlye {
  width: 200px;
}

.md-dialog-container {
      background-color: grey;
      width: 250px;
      height: 250px
}
